body{
    /* background-color: beige; */
    background-color: darkorange !important;
}


.perfil{
    background-color: white !important;
}

.livros{
    padding: 1rem;
    background-color: white !important;
}

h1{
    color: darkblue!important;
}

.titulo{
    color: white !important;
}

.links{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.links a{
    text-decoration: none;
}

.links a:hover{
    color: black;
    text-decoration: none;
}